<%- include('./parcials/nav') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <ul>
    <%projects.forEach(function(item){%>
        <%if(projectsId===item.id){%>
        <li>
             <img src="<%= item.image %>" alt="<%= item.title %> " width='300px'>
            <br/>
            <%=item.title%>
            <br/>
            <%=item.description%>
            <br/>
            <%=item.technologies%>
            <br/>
            <%=item.features%>
            <br/>
            <%=item.status%>
            <br/>
            <%=item.reflection%>
        </li><%}%>
    <%})%>
  
    </ul>
</body>
</html>